.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/GeneratedPluginRegistrant.java
build/
coverage/
plan

android/.gradle/
android/local.properties

*.iml
*.ipr
*.iws
.idea/
.vscode/
