.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/GeneratedPluginRegistrant.java
build/
coverage/
plan

android/.gradle/
android/local.properties
*.jks
*.keystore
android/key.properties
.android-release-signing.env

*.iml
*.ipr
*.iws
.idea/
.vscode/
